<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM
        "https://testng.org/testng-1.0.dtd">

<suite name="Test Suite 101">

    <test name="Test 101">
        <parameter name="personName" value="Akash Nigam"/>
        <parameter name="personAge" value="35"/>
        <parameter name="mobileNo" value="9140392956"/>
        <classes>
            <class name="AkashSoftwareSolutions._11_UsingParameters"/>
        </classes>
    </test>

</suite>